@import main

header 
  text-align center
  h1
    font-size 3em
    margin-top 1em
  .label_group
    display inline-block
    a
      display inline-block
      margin .5em 
      padding .4em 1.6em
      background #1a1a1a
      color #fff
      border-radius .2em

.container.about
  padding 1em 4em
  #me_container
    overflow hidden
    .info
      float left
      .face
        max-width 100%
    .description
      line-height 1.5em
      font-size 1.2em
      padding-left 18em
      
#site_container,
#contact_container
  display none
  
#me_container,
#site_container,
#contact_container
  min-height 30em

@media screen and (max-width: 750px)
  .container.about .me 
    text-align center
    .info
      float none
    .description
      padding-left 0
      font-size 1.2em