@import main


header h1
  font-size 3em
  text-align center
  margin-top 1.5em

.container.friendsitelist
  .item
    background #2D2E40
    display block
    padding 2em
    margin 1em
    color #fff
    border-radius .2em
    overflow hidden
    clear both
    &:hover
      color #fff !important
    div
      float right
      text-align right  
    p
      padding-top .5em
    img
      float left
      height 3em