@import main

header h1
  font-size 3em
  text-align center
  margin-top 1.5em
  
.post_content
  padding .5em
  margin .5em 0
  line-height 2
  max-width 100%
  word-wrap break-word
  background #fff
  font-size 1.3em
  border 1px solid light_red
  p
    font-size .8em
    line-height 1.8em
  .footer
    border-top 1px solid #f9f9f9
    overflow hidden
    padding-top .2em
    a.tag
      background light_red
      color #fff
      border-radius .1em
      padding .2em 1em
      &:hover
        color #fff !important
    a
      font-size .65em
      margin-top .5em
      color #1a1a1a
    .right
      float right
    
.comment
  padding 1em
  margin .5em 0
  background #fff
  font-size .9em
  border 1px solid light_red
  .item
    padding 1em
    h3
      padding-bottom .5em
      margin 0
    p
      margin 0
      
form
  margin .5em 0
  background #2F2E40
  font-size .9em
  border-radius .2em
  padding .5em
  display block
  overflow hidden
  .warp
    display block
    width 100%
    overflow hidden
  input,
  textarea
    display inline-block
    outline none
    margin .5em 0
    width 100%
    padding .2em
  input
    height 2em
    line-height 2em
  textarea
    height 8em
    font-size 1.2em
    box-sizing border-box
    resize none
    padding .5em
  .submit_right
    float right
    padding .5em 1.5em
    color #fff
    background light_red
    border-radius .2em
    border none
    outline none
    cursor pointer