<nav id="menu">
                <ul>
                        <li><span><i class="icon glyphicon glyphicon-book"></i> 文章</span>
                                <ul>
                                        <li><a href="/end_plist"> 管理所有 </a></li>
                                        <li><a href="/end_pnew"> 新的文章 </a></li>
                                </ul>
                        </li>

                        <li><span><i class="icon glyphicon glyphicon-folder-open"></i> 分类</span>
                                <ul>
                                        <li><a href="/admin/category"> 管理所有 </a></li>
                                        <li><a href="/admin/category/new"> 新的分类 </a></li>
                                </ul>
                        </li>                        


                        <li><span><i class="icon glyphicon glyphicon-tags"></i> 标签</span>
                                <ul>
                                        <li><a href="/admin/tag"> 管理所有 </a></li>
                                        <li><a href="/admin/tag/new"> 新的标签 </a></li>
                                </ul>
                        </li>

                        <li><span><i class="icon glyphicon glyphicon-comment"></i> 评论</span>
                                <ul>
                                        <li><a href="/admin/comment"> 管理所有 </a></li>
                                </ul>
                        </li>

                        <li><a href="/admin/site"><i class="icon fa fa-rocket"></i>网站配置</a>
                        </li>
                        
                </ul>
</nav>