<!DOCTYPE html>
<html lang="zh">
<head>

<!-- Meta information -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<!-- Title-->
<title>小小博客 |  管理后台</title>

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../static/assets/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="../static/assets/ico/favicon.ico">

<!-- CSS Stylesheet-->
<link type="text/css" rel="stylesheet" href="../static/assets/css/bootstrap/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="../static/assets/css/bootstrap/bootstrap-themes.css" />
<link type="text/css" rel="stylesheet" href="../static/assets/css/style.css" />

<!-- Styleswitch if  you don't chang theme , you can delete -->
<link type="text/css" rel="alternate stylesheet" media="screen" title="style1" href="../static/assets/css/styleTheme1.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style2" href="../static/assets/css/styleTheme2.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style3" href="../static/assets/css/styleTheme3.css" />
<link type="text/css" rel="alternate stylesheet" media="screen" title="style4" href="../static/assets/css/styleTheme4.css" />
<link rel="stylesheet" type="text/css" href="../static/wedit/css/wangEditor.min.css">
<link rel="stylesheet" type="text/css" href="../static/s2/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="../static/dropzone/basic.css">
<link rel="stylesheet" type="text/css" href="../static/dropzone/dropzone.css">
</head>
<body class="nav-collapse-in">
<div id="wrapper">
        <!--
        /////////////////////////////////////////////////////////////////////////
        //////////     HEADER  CONTENT     ///////////////
        //////////////////////////////////////////////////////////////////////
        -->
        <div id="header">
        
                <div class="logo-area clearfix">
                        <a href="#" class="logo" style="background: transparent;font-size: 30px;line-height: 50px;color:#fff">SBlog</a>
                </div>
                <!-- //logo-area-->
                
                <div class="tools-bar">
                        <ul class="nav navbar-nav nav-main-xs">
                                <li><a href="#menu" class="icon-toolsbar"><i class="fa fa-bars"></i></a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right tooltip-area">
                                <li><a href="#menu-right" data-toggle="tooltip" title="Right Menu" data-container="body" data-placement="left"><i class="fa fa-align-right"></i></a></li>
                                
                                <li><a href="#" class="nav-collapse avatar-header" data-toggle="tooltip" title="Show / hide  menu" data-container="body" data-placement="bottom">
                                                <img alt="" src="../face.png"  class="circle">
                                                <span class="badge"></span>
                                        </a>
                                </li>
                                <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                            <em><strong>你好</strong>, 管理员 </em>
                                        </a>
                                        
                                </li>
                                <li class="visible-lg">
                                    <a href="#" class="h-seperate fullscreen" data-toggle="tooltip" title="Full Screen" data-container="body"  data-placement="left">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </li>
                        </ul>
                </div>
                <!-- //tools-bar-->
                
        </div>
        <!-- //header-->
        
        
        <!--
        /////////////////////////////////////////////////////////////////////////
        //////////     SLIDE LEFT CONTENT     //////////
        //////////////////////////////////////////////////////////////////////
        -->
        <div id="nav">
                <div id="nav-scroll">
                        <div class="avatar-slide">
                        
                                <span class="avatar-chart">
                                        <img alt="" src="../face.png" class="circle">
                                </span>
                                <!-- //avatar-chart-->
                                
                                <div class="avatar-detail">
                                        <p><strong>你好</strong>, 管理员</p>
                                </div>
                                <!-- //avatar-detail-->
                                
                                <div class="avatar-link btn-group btn-group-justified">
                                        <a class="btn" href="#menu-right" title="Contact List"><i class="fa fa-book"></i></a>
                                </div>
                                <!-- //avatar-link-->
                                
                        </div>
                        <!-- //avatar-slide-->
                    
                        
                        
                </div>
                <!-- //nav-scroller-->
        </div>
        <!-- //nav-->
        
        
        
        
        <!--
        /////////////////////////////////////////////////////////////////////////
        //////////     MAIN SHOW CONTENT     //////////
        //////////////////////////////////////////////////////////////////////
        -->
        <div id="main">

                <ol class="breadcrumb">
                        <li><a href="#">控制台</a></li>
                        <li><a href="#">文章</a></li>
                        <li class="active">新建</li>
                </ol>
                <!-- //breadcrumb-->
                <style type="text/css">
                    #content form .input-group{
                        margin: 1em 0;
                        width: 100%;
                    }
                    #content form .input-group h3{
                        margin-bottom: .8em;
                    }
                    .wangEditor-fullscreen{
                        top: 54px !important;
                    }
                    #dropzone{
                        padding: 2em;
                        text-align: center;
                        border: 1px dotted;
                        font-size: 1.5em;
                        line-height: 1.5em;
                        border-radius: 5px;
                        color: #B7B7B7;
                    }
                </style>
                <div id="content">
                        <form class="form" action="/end_post" method="post">
                            <div class="input-group">
                                <h3>文章标题</h3>
                                <input class="form-control" name="name" placeholder="" />
                            </div>

                            <div class="input-group">
                                <h3>文章简介</h3>
                                <input class="form-control" name="description" placeholder="" />
                            </div>
                            
                            <div class="input-group">
                                <h3>选择分类</h3>

                                <select class="select-cate" name="cate" style="width: 100%;">
                                  <% cate.forEach(function(item){ %>
                                    <option value="<%= item.id %>"><%= item.name %></option>
                                  <% }); %>
                                </select>
                            </div>

                            <div class="input-group" style="margin-bottom:2em">
                                <h3>选取标签</h3>
                                <select class="select-tag" name="tag" multiple="multiple" style="width: 100%;">
                                  <% tag.forEach(function(item){ %>
                                    <option value="<%= item.id %>"><%= item.name %></option>
                                  <% }); %>
                                </select>
                            </div>

                            <div class="input-group" style="margin-bottom:2em">
                                <h3>背景图片</h3>
                                <div id="dropzone">
                                      <p>拖拽图片到此处上传！</p>
                                </div>
                                <input type="text" id="bg_url" name="post_background" value="" style="display: none;">
                            </div>

                            <textarea id="post_body" style="min-height: 400px;" name="content">
                                <p>请输入内容...</p>
                            </textarea>

                            <button type="submit" href="#" class="pull-right btn btn-primary" style="margin-top: 1em;">提交</button>
                        </form>
                </div>
                <!-- //content-->
                
                
                
        </div>
        <!-- //main-->
        
        
        <!--
        //////////////////////////////////////////////////////////////
        //////////     LEFT NAV MENU     //////////
        ///////////////////////////////////////////////////////////
        -->
        <%include ./menu.html%>
        <!-- //nav left menu-->
        
        
                <!--
        /////////////////////////////////////////////////////////////////
        //////////     RIGHT NAV MENU     //////////
        /////////////////////////////////////////////////////////////
        -->
        <nav id="menu-right">
                <ul>
                        <li class="Label label-lg">Theme color</li>
                        <li>
                            <span class="text-center">
                                <div id="style1" class="color-themes col1"></div>
                                <div id="style2" class="color-themes col2" ></div>
                                <div id="style3" class="color-themes col3" ></div>
                                <div id="style4" class="color-themes col4" ></div>
                                <div id="none" class="color-themes col5" ></div>
                            </span>
                        </li>
                </ul>
        </nav>
        <!-- //nav right menu-->
        
        
</div>
<!-- //wrapper-->


<!--
////////////////////////////////////////////////////////////////////////
//////////     JAVASCRIPT  LIBRARY     //////////
/////////////////////////////////////////////////////////////////////
-->
        
<!-- Jquery Library -->
<script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/assets/js/jquery.ui.min.js"></script>
<script type="text/javascript" src="../static/assets/plugins/bootstrap/bootstrap.min.js"></script>
<!-- Modernizr Library For HTML5 And CSS3 -->
<script type="text/javascript" src="../static/assets/js/modernizr/modernizr.js"></script>
<script type="text/javascript" src="../static/assets/plugins/mmenu/jquery.mmenu.js"></script>
<script type="text/javascript" src="../static/assets/js/styleswitch.js"></script>
<script type="text/javascript" src="../static/assets/js/styleswitch.js"></script>
<!-- Library 10+ Form plugins-->
<script type="text/javascript" src="../static/assets/plugins/form/form.js"></script>
<!-- Datetime plugins -->
<script type="text/javascript" src="../static/assets/plugins/datetime/datetime.js"></script>
<!-- Library Chart-->
<script type="text/javascript" src="../static/assets/plugins/chart/chart.js"></script>
<!-- Library  5+ plugins for bootstrap -->
<script type="text/javascript" src="../static/assets/plugins/pluginsForBS/pluginsForBS.js"></script>
<!-- Library 10+ miscellaneous plugins -->
<script type="text/javascript" src="../static/assets/plugins/miscellaneous/miscellaneous.js"></script>
<!-- Library Themes Customize-->
<script type="text/javascript" src="../static/assets/js/caplet.custom.js"></script>
<script type="text/javascript" src="../static/wedit/js/wangEditor.min.js"></script>
<script type="text/javascript" src="../static/s2/js/select2.min.js"></script>
<script type="text/javascript" src="../static/dropzone/min/dropzone.min.js"></script>

<script type="text/javascript">
    var editor = new wangEditor('post_body');

    editor.config.uploadImgUrl = '/upload';

    editor.create();

    $(function(){
        $(".select-cate").select2()
        $(".select-tag").select2()

        $("#dropzone").dropzone({
         url: "/upload" ,
         init: function() {
            this.on("success", function(file) {
                console.log(file)
                console.log(this)
                var src = file.xhr.responseText;
                console.log(file.xhr.responseText)

                $('#dropzone').html(
                    $('<img/>',{ src : src ,style: 'max-width:100%'})
                );
                $('#bg_url').attr('value',src);
            });
         }
        });
    });
</script>
</body>
</html>
