  <footer class="page">
    <div class="copyright">
      <img src="../face.png" alt="我的头像" class="logo_big">
      <div>
        <h3>季晨峰的小小博客</h3>
        <p>版权遵循署名非商业协议</p>
        <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.zh" target="_blank"><img src="../static/icon/bq.png" alt="版权声明"></a>
      </div>
    </div>
    <div class="navigation">
      <h3>导航</h3>
      <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/all">所有文章</a></li>
        <li><a href="/cate">分类与标签</a></li>
        <li><a href="/friend">友情链接</a></li>
        <li><a href="/about">关于</a></li>
      </ul>
      <a href="#"><img class="icon" src="../static/icon/github.png">源代码在此处</a>
      <a href="#"><img class="icon" src="../static/icon/server.png"></i>AliYun ECS 强力驱动</a>
    </div>
    <div class="sharing">
      <h3>友情推荐</h3>
      <a href="/cate/14"><img class="icon" src="../static/icon/book.png"></i>阅读，让人生更美好</a>
      <a href="/cate/15"><img class="icon" src="../static/icon/tool.png"></i>工具，让人生高效率</a>
    </div>
  </footer>